@import './antd.min.css';

html,
body {
  font-size: 14px;
}

/* @tailwindbase styles override this, so we need to re-apply the default list-style */
ol,
ul,
menu {
  list-style: disc;
  padding-inline-start: 40px;
}

.ant-modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.ant-modal-body {
  padding: 32px;
  max-height: 90vh;
  overflow-y: auto;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #7165ff !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #7165ff;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #7165ff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #7165ff;
  border-color: #7165ff;
}

.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-checked:after {
  border-color: #7165ff;
}

.ant-switch-checked {
  background-color: #7165ff;
}

.ant-switch-checked:focus {
  box-shadow: 0 0 0 2px #dbeafe;
}

.ant-switch {
  min-width: 32px;
}

.ant-slider-track,
.ant-slider:hover .ant-slider-track {
  background-color: #7165ff;
}

.ant-slider-handle,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #7165ff;
}

.ant-select .ant-select-selector {
  border-radius: 4px !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px !important;
  text-align: start !important;
}

.ant-select:not(.ant-select-customize-input) {
  border-radius: 4px !important;
}

.ant-select:not(.ant-select-customize-input).ant-select-selector {
  border-radius: 4px !important;
  text-align: start !important;
}

.ant-select-selector {
  border-radius: 4px !important;
}

.ant-select-selection {
  background: green;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  text-align: start;
}

.ant-select-selection-search-input,
ant-select-selection-search-input:focus {
  --tw-ring-color: transparent !important;
}

.ant-tooltip-inner,
.ant-tooltip-arrow-content {
  color: lightslategray;
  background-color: white;
  --antd-arrow-background-color: white;
}

.ant-input {
  border-radius: 4px !important;
}

.ant-input-affix-wrapper {
  border-radius: 4px !important;
}

.ant-dropdown {
  max-height: 80vh;
}

.ant-btn {
  border-radius: 4px !important;
}
